<%= @user.username %>さん、こんにちは！

<%= @identification.user.username %> さんから身分証の承認リクエストが届きました！

以下のリンクから、内容をご確認ください。

<a href="<%= @notification.url %>"><%= @notification.url %></a>

<%= Setting.default_site %>
