<%= @user.username %>さん、こんにちは！

<%= @reservation.post.user.username %> さんが予約リクエストを更新しました！

以下のリンクから、内容をご確認ください。

<a href="<%= @notification.url %>"><%= @notification.url %></a>

<%= Setting.default_site %>
