<%= @user.username %>さん、こんにちは！

<%= @reservation.user.username %> さんから予約リクエストが届きました！

以下のリンクから、内容をご確認ください。

<a href="<%= @notification.url %>"><%= @notification.url %></a>

<%= Setting.default_site %>
